@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/397c8fcc530c43baa17c99c904467434?family=Migra');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600&display=swap');


body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #fdf9f4;
    color: #4d472e;
}

p,
li,
a {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    color: #4d472e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Migra', serif;
}

.title {
    background-color: #f8f5ef;
    border-radius: 20px;
    height: 600px;
    padding: 20px 0;
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
    width: 50%; /* Largura da div ao lado da foto */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.name-container {
    display: flex;
    justify-content: center; /* Nome centralizado */
    align-items: center; /* Alinha verticalmente */
}

h1 {
    margin-right: 2rem; /* Dá espaço para a seta à direita */
}

.seta {
    transform: rotate(60deg);
    max-width: 50px;
    width: 10vw;
    height: auto;
    margin-top: -8vw;
}

.notebook {
    max-width: 100px;
    width: 10vw;
    height: auto;
    margin-top: -40px; /* Ajuste o valor conforme necessário para garantir o espaçamento correto */
    margin-left: 300px; /* Garante que a imagem vai para a direita */
    transform: rotate(15deg); /* Mantém a rotação */
}

.hero-section {
    background-color: #91713c;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-section h1 {
    font-size: 6rem;
    font-weight: 700;
}

.hero-section p.lead {
    font-size: 1.5rem;
    color: #4d472e;;
}

.btn-custom {
    background-color: #4d472e;
    color: white;
    border-radius: 30px;
}

.btn-custom:hover {
    background-color: #7b6a58;
}

.btn-primary {
    background-color: #4d472e;
    color: white;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #7b6a58;
}

.about-section{
    background-color: #91713c;
    color: #f8f5ef;
}

.portfolio-section,
.contact-section {
    background-color: #f8f5ef;
}

.portfolio-section .card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.portfolio-section .card-title {
    font-weight: 600;
}

.card-img-top {
    width: 100%;
    border-radius: 8px;
    margin: 1rem 10;
}

.card {
    height: 100%; /* Faz os cartões ocuparem o mesmo espaço */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1; /* Faz o conteúdo expandir igualmente */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: #e9d7c6;
    padding: 20px 0;
    text-align: center;
    color: #5a4638;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  #btnTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
  }